<!-- // RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023B
// Assessment: Full-stack Web Application
// Author: Team Eight
// Acknowledgement: Google , Stackoverflow, w3schools -->
<!-- Filter Form -->
<link rel="stylesheet" href="/public/css/filter.css">
<form method="GET" action="/product/filter" class="form-inline d-flex  md-form form-sm active-pink active-pink-2 mt-2">
    <div class=" wrapper form-control form-control-sm ml-3 w-50">
        <header>
          <h2>Price Range</h2>
          <p>Use slider or enter minimum and maximum price</p>
        </header>
        <div class="price-input form-control form-control-sm ml-3 w-100">
          <div class="field">
            <span>Min $</span>
            <input type="number" class="input-min" value="0" name="minPrice" id="minPrice">
          </div>
          <div class="separator">-</div>
          <div class="field">
            <span>Max $</span>
            <input type="number" class="input-max" value="1000" name="maxPrice" id="maxPrice">
          </div>
        </div>
        <div class="slider">
          <div class="progress"></div>
        </div>
        <div class="range-input">
          <input type="range" class="range-min" min="0" max="10000" value="0" step="100">
          <input type="range" class="range-max" min="0" max="1000000" value="1000" step="100">
        </div>
        <button type="submit" class="btn">Apply</button> 
    </div>
    <script src="/public/js/filter.js"></script>
</form>