<footer class="py-1 bg-dark fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-6 justify-content-center d-flex align-items-center">
                <p class="m-0 text-center text-white">Copyright &copy; Eight 2023</p>
            </div>
            <div class="col-1 col-lg-1 col-xl-3"></div>
            <div class="col-5 col-lg-5 col-xl-3 align-items-center d-flex">
                <ul class="list-unstyled">
                    <li>
                        <button class="btn "><a class="text-white" href="/support">Support</a></button>
                    </li>
                    <li>
                        <button class="btn"><a class="text-white" href="/privacy-policy">Privacy policy</a></button>
                    </li>
                    <li>
                        <button class="btn"><a class="text-white" href="/about-us">About us</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
