<nav class="navbar navbar-expand-lg">
    <div class="container bg-primary">
    <a class="navbar-brand text-white" href="">Store</a>
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link text-white active" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white active" href="/register">Register</a></li>
        <li class="nav-ittem"><a class="nav-link text-white active" href="/login">Login</a></li>
    </ul>
    </div>
</nav>