<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Item - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <title>Product Details</title>
    </head>
<body>  

    <%- include('./partials/header.ejs') %>

    <header>
        <h1>About Eight E-Commerce</h1>
        <p>Welcome to Eight, your one-stop shop for all things e-commerce. We're not just another online store at Eight; we're a group of passionate people committed to providing a simple and delightful buying experience.</p>
    </header>

    <section>
        <h2>Who We Are</h2>
        <p>We are a vibrant bunch of e-commerce enthusiasts with one objective in mind: to change the way you shop online. Our team is made up of tech specialists, creative thinkers, and customer-oriented professionals who work relentlessly to provide you with the greatest goods and services possible.</p>
    </section>

    <section>
        <h2>Our Mission</h2>
        <p>Our objective at Eight is simple: to provide you with a great selection of high-quality products, unrivaled customer service, and an easy-to-use buying platform. We believe that shopping should be a pleasurable and convenient experience for you, and we are dedicated to making that a reality.</p>
    </section>

    <section>
        <h2>What Sets Us Apart</h2>
        <ul>
            <li><strong>Product Selection:</strong> We constantly manage our product inventory, providing you with a handpicked collection of things that match the highest quality and style criteria.</li>
            <li><strong>Customer-Centric Approach:</strong> Our first priority is your satisfaction. If you have any queries about products, orders, or anything else, our devoted customer service team is always available to help.</li>
            <li><strong>User-Friendly Platform:</strong> We created our website with you in mind. It's simple to use, delivering a pleasant and stress-free shopping experience from start to finish.</li>
            <li><strong>Secure Shopping:</strong> We are concerned about your online safety. You can be confident that your personal and financial information is handled with the utmost care and security.</li>
            <li><strong>Fast and Reliable Shipping:</strong> We recognize the significance of on-time delivery. We work with reputable shipping companies to ensure that your products arrive to you as promptly and safely as possible.</li>
        </ul>
    </section>
    <section>
        <h2>Welcome to Eight, where shopping meets fulfillment!</h2>
    </section>
    <%- include('./partials/footer.ejs') %>


</body>

</html>
