<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<!-- button go to profile and pass user to that view -->
<a href="/profile" class="btn btn-primary">Profile</a>
<a href="/products/vendors-only/my-products" class="btn btn-primary">Manage products</a>
<a href="/products/vendor-only/add-my-product" class="btn btn-primary">Add product</a>
<a href="/logout" class="btn btn-secondary">Logout</a>