<!-- // RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023B
// Assessment: Full-stack Web Application
// Author: Team Eight
// Acknowledgement: Google , Stackoverflow, w3schools -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
  <%- include('./partials/header.ejs') %>
  <div class="container vh-100">
    <form action="/login" method="POST">
      <div class="form-group py-1">
        <label class="pb-1" for="username">Username</label>
        <input
          type="username"
          id="username"
          name="username"
          class="form-control"
          placeholder="Enter Username"
        />
      </div>
      <div class="form-group py-1 pb-2">
        <label class="pb-1" for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter Password"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <p class="lead mt-4">No Account? <a href="/register">Register</a></p>
  </div>
  
  <%- include('./partials/footer.ejs') %>
</body>