<h1 class="mt-4">Profile</h1>
<div class="card " >
  <p class="lead mb-3">Welcome <%= user.username %></p>
  <img src="/public/images/<%= user.avatar%>" class="img-fluid col-2" />
  <a href="/profile/edit" class="btn btn-primary">Edit</a>

  <p><%= user %></p>
</div>
