<!-- search Form -->
<form action="/products/search" method="GET" class="d-flex" role="search">
    <input type="text" name="query" placeholder="Enter your search query" class="form-control me-2" aria-label="Search">
    <button class="btn btn-outline-dark" type="submit">Search</button>
</form>
