<form action="/profile/edit" method="post" enctype="multipart/form-data">
  <input type="file" name="avatar" />

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Distribution Hub
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Do some dynamic render here</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

  <input type="submit" value="Submit" />
</form>
